/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.border {
    border: 2px dashed black;
}

.bg-black {
    background-color: hsl(0deg 0% 10.2%);
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

img {
    max-height: 100%;
    width: auto;
}



/* Header */

header {
    background-color: hsl(26.7deg 81.96% 50%);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-gender a {
    margin-right: 1rem;
}

.navbar-logo {
    height: 100%;
    padding: 20px 0;
}

.navbar-user a {
    text-align: end;
    margin-left: 1rem;
}

/* Main */

main {
    padding: 100px 0;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1rem;
}

.item {
    background-color: lightblue;
    height: 500px;
    flex-basis: calc(100% / 3);
    padding: 1rem;
}

/* Footer */

footer {
    height: 100px;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}