/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.border {
    border: 2px dashed black;
}

.bg-black {
    background-color: hsl(0deg 0% 10.2%);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.xs-padding {
    padding: 2px 5px;
}



/* Header */

header {
    background-color: hsl(26.7deg 81.96% 50%);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 5px 5px grey;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.navbar>* {
    flex-basis: calc(100% / 3);
}

.navbar-gender a {
    margin-right: 1rem;
    font-weight: bold;
}

.navbar-logo {
    height: 100%;
    padding: 20px 0;
}

.navbar-logo img {
    max-height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}

.navbar-user {
    text-align: end;
}

.navbar-user a {
    text-align: end;
    margin-left: 1rem;
}

/* Main */

main {
    padding-top: 100px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    align-items: flex-start;
}

.item {
    flex-basis: calc(100% / 3);
    padding: 1rem;
    height: auto;
}

.item a {
    color: black;
}

.card {
    height: 100%;
    position: relative;
}

.card img {
    display: block;
}

.heart {
    background-color: white;
    font-size: 2rem;
    padding: 5px;
    padding-left: 10px;
    position: absolute;
    top: 10px;
    right: 0;
}

.label {
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 10%;
    display: flex;
    gap: 5px;
}

.discount {
    background-color: red;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.brend {
    text-transform: capitalize;
}

h4 {
    text-transform: uppercase;
}

.price {
    color: red;
    font-weight: 900;
}

.full-price {
    text-decoration: line-through;
}

.card .secondary-img,
.card:hover .primary-img {
    display: none;
}

.card:hover .secondary-img {
    display: block;
}

.heart:hover {
    color: red;
}

/* Footer */

footer {
    height: 100px;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    font-size: 12px;
}

.footer-item-icons {
    font-size: 1.5rem;
}